[submodule "lib/fuzzy"]
	path = lib/fuzzy
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "lib/popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "lib/ert"]
	path = lib/ert
	url = https://github.com/ohler/ert.git
